services:
  backend:
    build: ./backend
    container_name: backend
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    environment:
      DATABASE_URL: ${DATABASE_URL}
    volumes:
      - ./backend/src:/home/fastapi/src
    command: uv run uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload
    depends_on:
      mysql:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/api/v1/docs"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s
    networks:
      - system_network

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    command: gunicorn core.wsgi:application -b 0.0.0.0:3000
    volumes:
      - ./frontend:/app
    ports:
      - "3000:3000"
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    networks:
      - system_network

  mysql:
    image: mysql:9.4
    container_name: mysql
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - system_network
  chat_bot:
    build: ./chatBot
    container_name: chat_bot
    restart: always
    ports:
      - "8001:8001"
    env_file:
      - ./.env
    volumes:
      - ./chatBot/src:/app/src
    command: uvicorn src.main:app --host 0.0.0.0 --port 8001 --reload
    depends_on:
      backend:
        condition: service_healthy
    networks:
      - system_network

networks:
  system_network:
    driver: bridge

volumes:
  mysql_data: